server:
  port: 8080
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/api-gateway-microservice-with-kafka
    username: postgres
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
jwt:
  secret: ewubigfbweweiefwefWUHFWUFWHFIUWE17429372239jkebweiufwefuIHRWEFWEOF123wefwefwwefmlmrogIMOGEWNWO200423wefwegwewegwegwniu9wnv2382
